body {
    text-align: center;
    background-image: url(/src/Images/culture.webp);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
    
   






.header {
    padding: 2px;
    background-color: bisque;
    text-align: center;

}
form{
    border-top: solid 1px;
    background: rgba(127, 146, 80, 0.5);
    width: 100%;
    height: 77%;
    padding-top: 10px;
    position: absolute;
   
    text-align: center;
}

.nav {
    padding: 2px;
    background-color: rgb(134, 146, 143);
    text-align: center;
}

.footer {
    border-top: solid 1px;
    background: rgba(56, 64, 112, 0.5);
    width: 99%;
    height: 50px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;

}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.container {
    position: relative;
    top: 2px;
    left: 40%;
    display: block;
    margin: 8px;
    width: 300px;
    height: 300px;
    background: #597f87;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
    transform: rotate(360deg);
    transform: rotate(0deg);
}



.cul {
    margin-right: 90%;
    text-shadow: #597f87;
    color:rgb(red, green, blue) }
    
.banner-container{
    background-color: rgb(227, 234, 226);
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
}


html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    width: 40%;
    border-color: #555;
    height: auto;
    width: 110%;background-color: aliceblue;
  }
  
  .about-section {
    padding: 90px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    margin-top: 0 0;
    
  }
  
  .container1 {
    padding: 0 16px;
  }
  
  .container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }}
   

  