body {
  text-align: center;
  background-image: url(/src/Images/culture.webp);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  will-change: scroll-position;
}
.header {
  padding: 2px;
  background-color: bisque;
  text-align: center;

}

form {
  border-top: solid 1px;
width: 100%;
  height: 5%;
  padding-top: 8px;
  position: absolute;

  text-align: center;
}

.nav {
  padding: 2px;
  background-color: rgb(134, 146, 143);
  text-align: center;
}


input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.container {
  position: relative;
  top: 2px;
  left: 40%;
  display: block;
  margin: 8px;
  width: 300px;
  height: 300px;
  background: #597f87;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  transform: rotate(360deg);
  transform: rotate(0deg);
}



.cul {
  margin-right: 90%;
  text-shadow: #597f87;
  color: rgb(red, green, blue)
}

.banner-container {
  background-color: rgb(227, 234, 226);
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  height: 90vh;
  display: flex;
  justify-content: center;
  background-blend-mode: overlay;
  align-items: center;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
border-radius: 50px;
 border-color: #ad0808;
  height: auto;
 background-color: aliceblue;
  margin-left: 10px;
  margin: 10px;

}

.about-section {
  padding-left:2px;
  text-align: center;
  width: 80%;
  height: 40%;
  background-color: #474e5d;
  color: white;
  margin-top:0px

}

.container1 {
  padding:6px;
margin: 8px;
}




.title {
  color: grey;
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 25%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}



.blogitem-wrap {

  display: flex;
  flex-direction: column;
  position: relative;


}

.blogitem-cover {
  height: 350px;
  width: 40%;
  object-fit: cover;
  border-radius: 20px;
  background-color: aliceblue;
  text-align: left;
 

}
img {
  transition: transform .2s ease-in-out;
}
img:hover {
  transform: rotate(180deg);
}

h1{
  text-align: left;
  flex-shrink: initial;
}

.blognav{

padding-top: 4px;
  background-color: rgb(196, 205, 203);
  text-align: left;
  flex: auto;
  margin-top: 2px;
  height: 40px;
  text-emphasis-color: #000;

}
.blogItem-link {
  text-decoration: none;
  color: inherit;
}.blogItem-wrap footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.gap{
  margin:45px;
  color: #000;
}
.blog-ground{
 background-color: aliceblue;
 text-align: right;

}
.blogItem-desc{
  text-align: center;
  text-size-adjust: 34px;
}
